	<h1 id="">	<p>Daily Entries</p></h1>
	
	<p>To learn more about how we can help your project succeed, please fill out the 
		 form below. We will respond to your message within 24 hours. </p>

<table>
  <tr>
    <th>Date</th>
    <th>Total</th>
    <th>Foodcost</th>
    <th>Hours</th>
    <th>Name</th>
  </tr>

<% for daily in @dailies %>
  <tr>
    <td><%=h daily.date.strftime("%B %d, %Y") if daily.date %></td>
    <td><%=h daily.total %></td>
    <td><%=h daily.foodcost %></td>
    <td><%=h daily.hours %></td>
    <td><%=h daily.name %></td>
    <td><%= link_to 'Show', daily %></td>
    <td><%= link_to 'Edit', edit_daily_path(daily) %></td>
    <td><%= link_to 'Destroy', daily, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Enter a New Day', new_daily_path %>
