	<h1 id="">	<p>Adding Products....</p></h1>
	
	<p>
Welcome to the product page. This will be the place you enter in new products the company will sell. The image will be automatically sized down to the proper size. The quantity is the initial amount that we have of the product. </p>

		<% form_for(@daily) do |f| %>
  		<%= f.error_messages %>
			<div id="formLeft">
				<br />
				<%= f.label :name %><br />
				<div class="input-bg">
					<%= f.text_field :name, :class => 'required' %>
				</div>
			
		    <%= f.label :total %><br />
				<div class="input-bg">
					<%= f.text_field :total, :class => 'required' %>
				</div>
				
				<%= f.label :hours %><br />
				<div class="input-bg">
					<%= f.text_field :hours, :class => 'required' %>
				</div>
				
			</div>
			
			<div id="formRight">
				<label for="Message">Date:</label></td>
					<%= calendar_date_select_tag "date", nil, :prefix => 'daily', :embedded => true, :time => :mixed %>
				</div>

				<br />
				<div class="button">
					<label for="Message"></label></td>
			    <%= f.submit "Enter Day" %>
			</div>
<% end %>

